{% extends "base.html" %}
{% load compress %}
{% load staticfiles %}

{% block metatags %}
    <meta property="og:title" content="Nick Sarbicki" />
    <meta property="og:description" content="The personal website of Nick Sarbicki." />
    <meta name="description" content="The personal website of Nick Sarbicki." />
{% endblock %}

{% block extra_css %}
    {% compress css inline %}{% spaceless %}
    <link rel="stylesheet" type="text/scss" href="{% static 'scss/home.scss' %}">
    {% endspaceless %}{% endcompress %}
{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
    <div id="home" class="title valign-wrapper">Loading...</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        renderHome({{ page.json_data | safe }});
    </script>
{% endblock %}
