{% load wagtailimages_tags %}

<div class="carousel">
    {% for current_image in self.images %}
        <a href="#" class="carousel-item tooltipped" data-tooltip="{{ current_image.caption }}">
            {% image current_image.image fill-375x375 as img %}
            <img src="{{ img.url }}">
        </a>
    {% endfor %}
</div>
