@import "./website";

#navBurger {
  position: fixed;
  right: 20px;
  top: 20px;

  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;

    background: $primary-dark;
    border-radius: 2px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}

#navCover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 9998;

  top: 0;
  right: -100vw;

  &.active {
    right: 0;
  }
}

nav {
  transition-duration: 0.5s;
  background-color: $primary-dark;

  position: fixed;

  height: 100vh!important;
  width: 300px;

  top: 0;
  right: -300px;

  z-index: 9999;
  overflow: visible;

  &.active {
    right: 0;
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  ul li {
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    a {
      display: flex;
      padding: 15px;
      font-size: 1.5em;
      font-weight: 300;
      color: white;
    }

    &:hover {
      background-color: darken($primary-dark, 10%);
      width: 110%;
      transform: translateX(-2%);

      &.about {
        background-color: $about-accent;
      }
      &.blog {
        background-color: $blog-accent;
      }
      &.cv {
        background-color: $cv-accent;
      }
      &.showcase {
        background-color: $showcase-accent;
      }
    }
  }

  .social {
    width: 100%;
    position: absolute;
    top: calc(100vh - 55px);
    overflow: hidden;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: space-between;
      li {
        width: 25%;
        a {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            overflow: visible;
            height: 1em;
            color: #fff;
            fill: #fff;
          }
        }
        &:hover {
          transform: unset;
        }
      }
    }
  }
}

.bm-burger-button {
  position: fixed;
  width: 35px;
  height: 25px;
  right: 25px;
  top: 25px;
}

.bm-burger-bars {
  background: $primary-dark;
}