$primary-dark: #333940;
$about-accent: #F27935;
$blog-accent: #2D5C7F;
$cv-accent: #1E824C;
$showcase-accent: #E74C3C;

html {
  overflow-x: hidden;
  height: 100vh;
}

@font-face {
  font-family: "tryst";
  font-display: auto;
  src: url(../font/tryst-regular-webfont.ttf);
}


h1, h2 {
  font-family: tryst, serif;
}

h3, h4, h5, h6, p, a, li, span {
  font-family: sans-serif;
}

div, span, p {
  font-size: 1.1rem;
}

​.container {
  font-size: 1.5em;
}

#content {
  min-height: 100vh;
  width: 100%;

  @media only screen and (max-width : 992px) {
    margin-top: 35px;
  }

  div {
    max-width: 100%;
  }

  .block-slides {
    .slick-track {
      max-width: unset;
    }
    .slick-slide {
      img {
        max-height: 375px;
        width: auto;
        margin: 0 auto;
      }
    }
    .slick-next:before, .slick-prev:before, .slick-next:after, .slick-prev:after {
      color: #000;
    }
  }

  .block-section {
    ul {
      list-style-type: unset;
      padding-left: 15px;
      li {
        list-style-type: unset;
      }
    }
  }
}

.slides {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 30vw;

  max-height: 500px;

  .right, .left {
    width: 25px;
    height: 25px;
    background-color: white;
    cursor: pointer;
    svg {
      stroke: $primary-dark;
    }
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }

  div {
    position: relative;
    width: 100%;
    height: 100%;
    div {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .lightbox:not(.active) {
      transition: all 0.3s, background-color 0s;
      img {
        max-height: 100%;
      }

      &:hover {
        z-index: 999;
        opacity: 1;
      }
    }
  }
}


.lightbox {
  transition: all 0.2s;
  img {
    max-width: 100%;
    cursor: pointer;

    display: block;
    margin: 0 auto;
  }
  div {
    display: none;
  }
  &.active {

    display: flex;

    cursor: pointer;

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    background-color: transparentize($primary-dark, 0.2);

    z-index: 9999;

    img {
      height: auto;
      max-height: 100vh;
      margin: auto;
      box-shadow: unset;
    }
    div {
      display: block;
      position: fixed;
      width: 100vw;
      height: fit-content;
      top: unset;
      bottom: 0;

      text-align: center;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;

      background-color: transparentize($primary-dark, 0.2);;
    }
  }
  &:focus {
    outline: none;
  }
}

// Style for the 404 page
.notFound {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    object {
      height: 400px;
    }

    h1 {
      width: 100%;
      font-size: 6rem;

      @media only screen and (max-device-width: 480px) {
        font-size: 4rem;
      }

      @media only screen and (max-device-height: 480px) {
        font-size: 4rem;
      }
    }
  }
}