{% extends "base_with_nav.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% load staticfiles %}

{% block metatags %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.intro }}" />
    <meta name="description" content="{{ page.intro }}" />
{% endblock %}

{% block extra_css %}
    {% compress css inline %}{% spaceless %}
    <link rel="stylesheet" type="text/scss" href="{% static 'scss/showcase.scss' %}">
    {% endspaceless %}{% endcompress %}
{% endblock %}

{% block body_class %}template-showcase{% endblock %}


{% block content %}
    <div id="showcase" class="container row">
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    renderShowcase({{ page.json_data | safe }})
    </script>
{% endblock %}