{% extends "base_with_nav.html" %}
{% load wagtailimages_tags %}
{% load compress %}
{% load staticfiles %}

{% block metatags %}
    <meta name="twitter:description" content="{{ page.intro }}">
    <meta property="og:description" content="{{ page.intro }}" />
    {% if page.feed_image %}
        {% image page.feed_image fill-320x200 as feed_img %}
        <meta name="twitter:image:src" content="{{ feed_img.url }}">
        <meta property="og:image" content="{{ feed_img.url }}" />
    {% endif %}
    <meta name="description" content="{{ page.intro }}" />
{% endblock %}

{% block extra_css %}
    {% compress css inline %}{% spaceless %}
    <link rel="stylesheet" type="text/scss" href="{% static 'scss/blog.scss' %}">
    {% endspaceless %}{% endcompress %}
{% endblock %}

{% block body_class %}template-aboutpage{% endblock %}

{% block content %}
    <div id="blogPost" class="container row">
    </div>

    <div class="container row">
        <hr class="col offset-xl1 xl10 m12">
        <br>
        <div class="author">
            <div class="author-details">
                <h3>Written by</h3>
                <img class="author-avatar" src="{{ page.author_avatar }}" />
                <h3>
                {{ page.owner.get_full_name }}
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    renderBlogPost({{ page.json_data | safe }})
    </script>
{% endblock %}