@import 'scss/website';

h3 {
  font-size: 1.2em;
}

.col.showcase-card {
  position: relative;
  transition-duration: 0.3s;

  padding: 0;

  margin-bottom: 50px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  height: 20vw;
  overflow: hidden;

  .showcase-background {
    transition-duration: 0.3s;
    object-fit: cover;
    width: 110%;
    height: 110%;

    margin: -5%;

    filter: blur(5px);
  }

  .showcase-title {
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 100%;

    transition-duration: 0.3s;

    background-color: transparentize($primary-dark, 0.3);

    color: white;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .showcase-logo {
    position: absolute;
    width: 70%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover {
    .showcase-title {
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      -o-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    .showcase-background {
      filter: blur(0);
    }
  }

  @media only screen and (max-width : 992px) {
    height: 60vw;

    .showcase-title {
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      -o-transform: translateY(-50px);
      transform: translateY(-50px);

      font-size: 1.2em;
    }

    &:hover {
      .showcase-title {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }
  }
}