@import 'scss/website';

body {
  overflow: hidden;
}

canvas {
  position: absolute;
  cursor: none;
}

.title {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: white;
}

.title-content {
  z-index: 999;
  margin: 0 auto;
  padding: 50px;
  max-width: 100%;
  width: 600px;

  background-color: #fff;
  border: solid $primary-dark 2px;

  opacity: 0.98;

  h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: $primary-dark;
  }

  .row {
    display: flex;
    justify-content: space-evenly;

    &:hover a {
      color: lighten($primary-dark, 50%);
    }

    a {
      width: 100%;
      text-align: center;
      
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      font-size: 1.4em;
      font-weight: 300;
      color: lighten($primary-dark, 25%);

      &:hover {
        color: $primary-dark;
      }
    }
  }
}
