{% extends "base.html" %}
{% load static %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <div class="notFound">
        <div class="content">
            <h1>This page doesn't exist...</h1>
            <object type="image/svg+xml" data="{% static 'img/404.svg' %}"></object>
            <h1>Try <a href="/">home</a> instead.</h1>
        </div>
    </div>
{% endblock %}
