{% extends "base.html" %}
{% load compress %}
{% load menu %}
{% load staticfiles %}

{% block nav_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% compress css inline %}{% spaceless %}
    <link rel="stylesheet" type="text/scss" href="{% static 'scss/navbar.scss' %}">
    {% endspaceless %}{% endcompress %}
{% endblock %}

{% block navbar %}
    <div id="nav"></div>
{% endblock %}
{% block nav_js %}
    <script type="text/javascript">
        renderNav({% menu %})
    </script>
{% endblock %}

