{% load static wagtailuserbar %}
{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110457838-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-110457838-1');
        </script>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="twitter:site" content="@ndevox">
        <meta name="twitter:creator" content="@ndevox">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta property="og:site_name" content="Nick Sarbicki" />
        <meta property="og:title" content="{{ page.title }}" />
        {% block metatags %}{% endblock %}

        {# favicon land #}
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'img/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicon-192.png' %}">
        <link rel="icon" type="image/png" sizes="160x160" href="{% static 'img/favicon-160.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96.png' %}">
        <link rel="icon" type="image/png" sizes="64x64" href="{% static 'img/favicon-64.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/favicon-57.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon-114.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon-72.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon-144.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon-60.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon-120.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon-76.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon-152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon-180.png' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="page">

            {% block navbar %}{% endblock %}
            <div id="content">{% block content %}{% endblock %}</div>
        </div>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-css.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.3/themes/prism-okaidia.min.css">

        {% compress css inline %}{% spaceless %}
        <link rel="stylesheet" type="text/scss" href="{% static 'scss/website.scss' %}">
        {% endspaceless %}{% endcompress %}

        {% block nav_css %}
        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.3/prism.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-bash.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-docker.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-javascript.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-json.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-python.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/components/prism-yaml.min.js"></script>
        {% compress js %}{% spaceless %}
        <script type="text/javascript" src="{% static 'bundles/app.js' %}"></script>
        {% endspaceless %}{% endcompress %}
        {% block extra_js %}
        {% endblock %}
        {% block nav_js %}
        {% endblock %}
    </body>
</html>
