{% extends "base_with_nav.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% load staticfiles %}

{% block metatags %}
    <meta property="og:title" content="Nick Sarbicki" />
    <meta property="og:description" content="A bit about Nick Sarbicki." />
    <meta name="description" content="A bit about Nick Sarbicki." />
{% endblock %}

{% block extra_css %}
    {% compress css inline %}{% spaceless %}
    <link rel="stylesheet" type="text/scss" href="{% static 'scss/about.scss' %}">
    {% endspaceless %}{% endcompress %}
{% endblock %}

{% block body_class %}template-aboutpage{% endblock %}

{% block content %}
    <div id="about" class="container row">
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    renderAboutPage({{ page.json_data | safe }})
    </script>
{% endblock %}

