@import 'scss/website';

h3 {
  font-size: 1.2em;
}

.container .block-section {
  padding-top: 0.5rem;
}

.blogRow {
  border-bottom: solid lighten($primary-dark, 50%) 1px;
  .blogTitle {
    font-size: 1.1em;
    cursor: pointer;

    padding: 10px 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .blogTitleDate {
      width: 9rem;
      text-align: right;
    }
  }

  .blogIntro {
    overflow: hidden;
    height: fit-content;

    border-top: solid lighten($primary-dark, 50%) 2px;
    padding-top: 10px;
    padding-bottom: 0;
    max-height: 300px;

    &.intro-exit, &.hidden {
      max-height: 0;
      padding: 0;
      border: 0;
    }

    a {
      color: $primary-dark;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      padding: 0 10px;
    }
    .btn-floating {
      height: 2.5em;
      width: 2.5em;
      i {
        float: right;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

.author {
  display: flex;
  justify-content: space-around;

  .author-avatar {
    border-radius: 50%;
  }

  h3 {
    font-size: 1.7rem;

    text-align: center;
  }
}